* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  margin-bottom: 4rem;
}
.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#task {
  width: 50rem;
  height: 3rem;
  outline: none;
  font-size: 16px;
}
button {
  height: 3rem;
  width: 5rem;
  margin-left: 0.1rem;
  font-weight: bold;
  font-size: 16px;
}
#task:focus {
  border: 0.2rem solid blue;
}
button:hover {
  cursor: pointer;
}
.addedTasks {
  width: 55.1rem;
  height: 3rem;
  margin: 0.1rem;
  border: 0.1rem solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addedTasks:hover {
  border: 0.1rem solid #000000;
  margin: 0.5rem 0rem;
  font-weight: bold;
}
.addedTasks > p {
  font-size: 18px;
  margin-left: 1rem;
  flex: 2;
}
.icon {
  margin-right: 0.5rem;
}
.icon:hover {
  cursor: pointer;
  color: red;
}
